Source: python-blitzortung
Priority: extra
Maintainer: Andreas Würl <blitzortung@tryb.de>
Build-Depends: debhelper (>= 7.0.50~), python, python-setuptools, python-tz, python-pyproj, python-numpy, python-shapely
Standards-Version: 3.8.4
Section: python
Homepage: http://launchpad.net/blitzortung-python

Package: python-blitzortung
Section: python
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: blitzortung.org python modules
 <insert long description, indented with spaces>
